.comments-container::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}

.comments-container::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

/* Styling the scrollbar handle */
.comments-container::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* color of the scroll thumb */
  border-radius: 2rem; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}
